<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Klienci hotelu</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Hotel Paradiso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/client/add}">Add new client</a>
            <a class="nav-item nav-link" th:href="@{/logout}">Log out</a>
        </div>
    </div>
</nav>



<div>
    <h1 th:text="#{client.list}"></h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">last name</th>
            <th scope="col">arrival date</th>
            <th scope="col">departure date</th>
            <th scope="col">passport number</th>
            <th scope="col">room number</th>
        </tr>
        </thead>

        <div th:each="client : ${clientList}">
            <tbody>
            <tr>
                <th><a th:href="@{/client/__${client.id}__}" th:text="${client.id}"></a></th>
                <th th:text="${client.firstName}"></th>
                <th th:text="${client.lastName}"></th>
                <th th:text="${client.arrivalDate}"></th>
                <th th:text="${client.departureDate}"></th>
                <th th:text="${client.passportNumber}"></th>
                <th th:text="${client.roomNumber}"></th>
            </tr>
            </tbody>
        </div>

    </table>
    <!--    <a href="./client/add">-->
    <!--        <button type="button"> Add new client</button>-->
    <!--    </a>-->

</div>
</body>
</html>
