<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Hotel Paradiso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/user/add}">Add new user</a>
            <a class="nav-item nav-link" th:href="@{/logout}">Log out</a>
        </div>
    </div>
</nav>

<div>
    <h1 th:text="#{user.list}"></h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">user name</th>
            <th scope="col">enabled</th>
            <th scope="col">role</th>
        </tr>
        </thead>


        <div th:each="user : ${usersList}">
            <tbody>
            <tr>
                <th><a th:href="@{/user/__${user.id}__}" th:text="${user.id}"></a></th>
                <th th:text="${user.userName}"></th>
                <th th:text="${user.enabled}"></th>
                <th th:text="${user.role}"></th>

            </tr>
            </tbody>
        </div>
    </table>

</div>

</body>
</html>
