<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Hotel Paradiso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/user/add}">Add new user</a>
            <a class="nav-item nav-link" th:href="@{/user}">Go back</a>
            <a class="nav-item nav-link" th:href="@{/logout}">Log out</a>
        </div>
    </div>
</nav>

<form method="post" th:action="@{/user/add}" th:object="${user}">
    <div class="form-group">
        <label>
            User name:
            <input type="text" th:field="*{userName}">
            <ul th:if="${#fields.hasErrors('userName')}">
                <li class="text-danger" th:each="err : ${#fields.errors('userName')}" th:text="${err}">user name is
                    taken or incorrect
                </li>
            </ul>
        </label>
    </div>
    <div class="form-group">
        <label>
            Password:
            <input type="password" th:field="*{password}">
            <ul th:if="${#fields.hasErrors('password')}">
                <li class="text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}">password is
                    incorrect
                </li>
            </ul>
        </label>
    </div>
    <button class="btn btn-primary mb-2" type="submit">Add user</button>

</form>

</body>
</html>
