<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Hotel paradise</title>
</head>
<body class="btn btn-group-toggle">
<button>
    <a th:href="@{/logout}">wyloguj</a>
</button>
<h1 class="text-primary">Witaj w </h1>
<h1 class="text-danger" th:text="${hotelName}">Nazwa hotelu</h1>
<img class="img-thumbnail" th:src="@{/images/hotel2.jpg}">
</body>
</html>
